.vt-beta-header,
.vt-beta-footer {
	hyphens: auto;
}

.vt-beta-header h1 {
	white-space: nowrap;
	font-size: clamp(1rem, 2vw, 2rem);
	max-width: 100%;
}

.vt-beta-footer,
.vt-beta-footer * {
	color: var(--text-faint) !important;
	font-size: var(--font-small) !important;
}

.vt-beta-welcome .vt-beta-token {
	border: none !important;
	background: none !important;
}

.vt-beta-token .setting-item-info {
	flex-grow: 0 !important;
}

.vt-beta-token .setting-item-control {
	flex-grow: 1 !important;
}

.vt-beta-token .setting-item-control button {
	width: unset !important;
}

.vt-beta-token .setting-item-control input {
	width: 100% !important;
}

.vt-beta-tag {
	padding: var(--size-2-1) var(--size-4-2);
	border-radius: var(--radius-m);
	border: 1px solid;
	display: inline-block;
	margin-left: var(--size-4-1);
	transform: rotateZ(5deg) translate(0px, -10px);
	background: rgba(var(--color-purple-rgb), 0.2);
	font-size: 0.6em;
	font-weight: var(--font-medium);
}

.vt-beta-confirmation-phrase {
	font-weight: var(--font-medium);
	font-family: var(--font-monospace);
	background: var(--background-secondary);
	padding: var(--size-2-1) var(--size-4-2);
	border: 1px solid;
	text-align: center;
	user-select: none !important;
}

.vt-beta-confirmation-input input {
	width: 100%;
}

.vt-beta-confirmation-input .setting-item-info {
	flex-grow: 0;
	flex-shrink: 0;
}

.vt-beta-confirmation-input .setting-item-control {
	flex-grow: 1;
	flex-shrink: 0;
}

.vt-beta-security-warning-modal-button-container {
	display: flex;
	justify-content: flex-end;
	gap: var(--size-4-2);
	margin-top: var(--size-4-2);
}

.vt-beta-subscription-detail {
	font-size: var(--font-small);
	padding-bottom: var(--size-2-2);
}

.vt-beta-subscription-detail .mod-info {
	padding: var(--size-2-1) var(--size-2-2);
	word-break: break-all;
	color: var(--text-normal);
}

.vt-beta-subscription-detail .mod-error {
	color: var(--text-error);
}

.vt-beta-subscription-detail:not(.mod-error) {
	color: var(--text-accent);
}

.vt-beta-builds .setting-item-control .mod-loading svg {
	visibility: hidden !important;
}

.vt-beta-builds .setting-item-control .mod-loading,
.vt-loading-icon {
	color: transparent;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
}

.vt-loading-icon {
	margin-right: var(--size-4-6);
}

.vt-beta-builds .setting-item-control .mod-loading::after,
.vt-loading-icon::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 2px solid transparent;
	border-top-color: var(--text-normal);
	border-radius: 50%;
	animation: spin 1s ease infinite;
}

.vt-beta-builds .setting-item.current .setting-item-name::after {
	content: "(current)";
	color: var(--text-accent) !important;
	margin-left: var(--size-4-2);
}

.vt-beta-builds .setting-item {
	flex-direction: row !important;
	align-items: center !important;
}

.vt-beta-builds .setting-item .setting-item-info {
	flex-grow: 1 !important;
	flex-shrink: 1 !important;
}

.vt-beta-builds .setting-item-control {
	margin-top: 0 !important;
	flex-grow: 0 !important;
	width: unset !important;
}

.vt-beta-builds .setting-item.pagination {
	justify-content: flex-end;
}

.vt-beta-builds .setting-item.pagination .setting-item-control {
	flex-grow: 1 !important;
}

.vt-beta-release-note {
	max-height: 350px;
	overflow: scroll;
	padding: 0 var(--size-4-2) !important;
}

vt-beta-doc-links a {
	color: var(--text-normal);
	font-size: var(--font-ui-small);
}
