.vt-beta-subscription-detail {
	font-size: var(--font-small);
	padding-bottom: var(--size-2-2);

	.mod-info {
		padding: var(--size-2-1) var(--size-2-2);
		word-break: break-all;
		color: var(--text-normal);
	}

	.mod-error {
		color: var(--text-error);
	}

	&:not(.mod-error) {
		color: var(--text-accent);
	}
}
